@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

/* Evita overflow horizontal global */
html,
body,
#root {
    max-width: 100%;
    overflow-x: hidden;
}